.section-technical {    
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #5bc5e3, #4cb6d8, #3da6cc, #2f97c1, #2088b5, #198cb9, #0f91bc, #0095c0, #00aed1, #0fc8df, #39e2ea, #5ffbf1);
    height: auto;
    justify-content: space-between;    
}

.love, .learning {
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.skill-icon {
    height: 120px;
    width: 120px;
    object-fit: scale-down;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
}
